# Level 1 Skills
[submodule "caveman"]
	path = caveman
	url = https://github.com/ParkSnoopy/caveman
	branch = main
	update = merge
[submodule "ponytail"]
	path = ponytail
	url = https://github.com/ParkSnoopy/ponytail
	branch = main
	update = merge
[submodule "asd-ste100-skill"]
	path = asd-ste100-skill
	url = https://github.com/danyuchn/asd-ste100-skill
	branch = master
	update = merge
[submodule "andrej-karpathy-skills"]
	path = andrej-karpathy-skills
	url = https://github.com/multica-ai/andrej-karpathy-skills
	branch = main
	update = merge

# Level 2 Skills
[submodule "ECC"]
	path = ECC
	url = https://github.com/ParkSnoopy/ECC
	branch = main
	update = merge
[submodule "rust-skills"]
	path = rust-skills
	url = https://github.com/leonardomso/rust-skills
	branch = master
	update = merge
[submodule "matt-skills"]
	path = matt-skills
	url = https://github.com/mattpocock/skills
	branch = main
	update = merge
[submodule "bevy-skills"]
	path = bevy-skills
	url = https://github.com/ParkSnoopy/bevy-skills
	branch = main
	update = merge

# Level 3 Skills
[submodule "hyperframes"]
	path = hyperframes
	url = https://github.com/ParkSnoopy/hyperframes
	branch = main
	update = merge
[submodule "academic-research-skills"]
	path = academic-research-skills
	url = https://github.com/ParkSnoopy/academic-research-skills
	branch = main
	update = merge
[submodule "marketingskills"]
	path = marketingskills
	url = https://github.com/ParkSnoopy/marketingskills
	branch = main
	update = merge
[submodule "archify"]
	path = archify
	url = https://github.com/ParkSnoopy/archify
	branch = main
	update = merge
